<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
        <link rel="stylesheet" type="text/css" href="/static/ejercicios.css">
</head>
<body>
<div class="container">
    <h1>Iniciar sesión</h1>
    <form action="/" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required>
        <br>
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required>
        <br>
        <button type="submit">Iniciar sesión</button>
    </form>
     {% if usuario and contraseña %}
    <div>

        <p>bienvenido {{rol}} {{ usuario }}</p>
    </div>
    {% endif %}
</div>
</body>
</html>